//colors
$color_selection_mac: #acd7fc
$color_hover_gray: rgb(245, 245, 245)
$color_button_border_github: #cdcfd1
$color_button_border_hover_github: #a1a4a8
$color_heading_github: #fafbfc
$color_heading_border_github: #e1e4e5

//fonts
$font_heb: Alef
$font_type: sans-serif

//@extend-elements
//original selectors
//.table >thead:first-child >tr:first-child >th:first-child, .table >tbody >tr >td:first-child
%table_sticky_column
  position: absolute
  display: inline-block
  background-color: white

*
  margin: 0

html
  height: 100%

body
  height: 100%
  font-family: $font_heb, $font_type
  overflow-x: hidden

#main

.footer
  height: 100px

.push
  height: 100px

::selection
  background: $color_selection_mac

.not-hebrew

.table
  border-collapse: collapse
  margin-bottom: 0
  width: 100%
  background-color: white
  > thead:first-child > tr
    &:first-child > th:first-child
      @extend %table_sticky_column

    &:hover:first-child > th:first-child
      background-color: $color_hover_gray

  > tbody > tr
    > td:first-child
      @extend %table_sticky_column

    &:hover > td:first-child
      background-color: $color_hover_gray

  tr:hover
    background-color: $color_hover_gray

.dropdown-submenu
  ul
    display: none

  &:hover ul
    display: block
    position: relative

.glyphicon
  vertical-align: middle

.glyphicon-sm
  font-size: 60%

.btn
  margin-right: 10px
  font-weight: normal

.btn-group
  margin-right: 10px
  font-weight: normal
  .btn
    margin-left: 0
    margin-right: 0

.btn-default
  border-color: $color_button_border_github
  &:hover
    border-color: $color_button_border_hover_github

  &:focus
    border-color: $color_button_border_hover_github

.panel-heading
  background: $color_heading_github none
  margin-bottom: 10px
  border-bottom-color: $color_heading_border_github

.tooltip
  position: absolute

.dropdown-scrollable
  height: auto
  max-height: 100px
  overflow-x: hidden