//colors
$color_selection_mac: #acd7fc
$color_hover_gray: rgb(245, 245, 245)
$color_button_border_github: #cdcfd1
$color_button_border_hover_github: #a1a4a8
$color_heading_github: #fafbfc
$color_heading_border_github: #e1e4e5

//fonts
$font_heb: Alef
$font_type: sans-serif

//@extend-elements
//original selectors
//.table >thead:first-child >tr:first-child >th:first-child, .table >tbody >tr >td:first-child
%table_sticky_column
  position: absolute
  display: inline-block
  background-color: white

*
  margin: 0

html
  height: 100%

body
  height: 100%
  font-family: $font_heb, $font_type
  overflow-x: hidden

#main

.footer
  height: 100px

.push
  height: 100px

::selection
  background: $color_selection_mac

.not-hebrew

.table
  border-collapse: collapse
  margin-bottom: 0
  width: 100%
  background-color: white
  > thead:first-child > tr
    &:first-child > th:first-child
      @extend %table_sticky_column

    &:hover:first-child > th:first-child
      background-color: $color_hover_gray

  > tbody > tr
    > td:first-child
      @extend %table_sticky_column

    &:hover > td:first-child
      background-color: $color_hover_gray

  tr:hover
    background-color: $color_hover_gray

.dropdown-submenu
  ul
    display: none

  &:hover ul
    display: block
    position: relative

.glyphicon
  vertical-align: middle

.glyphicon-sm
  font-size: 60%

.btn
  margin-right: 10px
  font-weight: normal

.btn-group
  margin-right: 10px
  font-weight: normal
  .btn
    margin-left: 0
    margin-right: 0

.btn-default
  border-color: $color_button_border_github
  &:hover
    border-color: $color_button_border_hover_github

  &:focus
    border-color: $color_button_border_hover_github

.panel-heading
  background: $color_heading_github none
  margin-bottom: 10px
  border-bottom-color: $color_heading_border_github

.tooltip
  position: absolute

.dropdown-scrollable
  height: auto
  max-height: 100px
  overflow-x: hidden

.card
  position: relative
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -webkit-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column
  background-color: #fff
  border: 1px solid rgba(0, 0, 0, 0.125)
  border-radius: 0.25rem

.card-block
  -webkit-box-flex: 1
  -webkit-flex: 1 1 auto
  -ms-flex: 1 1 auto
  flex: 1 1 auto
  padding: 1.25rem

.card-title
  margin-bottom: 0.75rem

.card-subtitle
  margin-top: -0.375rem
  margin-bottom: 0

.card-text:last-child
  margin-bottom: 0

.card-link
  &:hover
    text-decoration: none
  + .card-link
    margin-left: 1.25rem

.card > .list-group
  &:first-child .list-group-item:first-child
    border-top-right-radius: 0.25rem
    border-top-left-radius: 0.25rem
  &:last-child .list-group-item:last-child
    border-bottom-right-radius: 0.25rem
    border-bottom-left-radius: 0.25rem

.card-header
  padding: 0.75rem 1.25rem
  margin-bottom: 0
  background-color: #f7f7f9
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)
  &:first-child
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0

.card-footer
  padding: 0.75rem 1.25rem
  background-color: #f7f7f9
  border-top: 1px solid rgba(0, 0, 0, 0.125)
  &:last-child
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px)

.card-header-tabs
  margin-right: -0.625rem
  margin-bottom: -0.75rem
  margin-left: -0.625rem
  border-bottom: 0

.card-header-pills
  margin-right: -0.625rem
  margin-left: -0.625rem

.card-primary
  background-color: #0275d8
  border-color: #0275d8
  .card-header, .card-footer
    background-color: transparent

.card-success
  background-color: #5cb85c
  border-color: #5cb85c
  .card-header, .card-footer
    background-color: transparent

.card-info
  background-color: #5bc0de
  border-color: #5bc0de
  .card-header, .card-footer
    background-color: transparent

.card-warning
  background-color: #f0ad4e
  border-color: #f0ad4e
  .card-header, .card-footer
    background-color: transparent

.card-danger
  background-color: #d9534f
  border-color: #d9534f
  .card-header, .card-footer
    background-color: transparent

.card-outline-primary
  background-color: transparent
  border-color: #0275d8

.card-outline-secondary
  background-color: transparent
  border-color: #ccc

.card-outline-info
  background-color: transparent
  border-color: #5bc0de

.card-outline-success
  background-color: transparent
  border-color: #5cb85c

.card-outline-warning
  background-color: transparent
  border-color: #f0ad4e

.card-outline-danger
  background-color: transparent
  border-color: #d9534f

.card-inverse
  color: rgba(255, 255, 255, 0.65)
  .card-header, .card-footer
    background-color: transparent
    border-color: rgba(255, 255, 255, 0.2)
  .card-header, .card-footer, .card-title, .card-blockquote
    color: #fff
  .card-link, .card-text, .card-subtitle, .card-blockquote .blockquote-footer
    color: rgba(255, 255, 255, 0.65)
  .card-link
    &:focus, &:hover
      color: #fff

.card-blockquote
  padding: 0
  margin-bottom: 0
  border-left: 0

.card-img
  border-radius: calc(0.25rem - 1px)

.card-img-overlay
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 1.25rem

.card-img-top
  border-top-right-radius: calc(0.25rem - 1px)
  border-top-left-radius: calc(0.25rem - 1px)

.card-img-bottom
  border-bottom-right-radius: calc(0.25rem - 1px)
  border-bottom-left-radius: calc(0.25rem - 1px)

@media (min-width: 576px)
  .card-deck
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-flex-flow: row wrap
    -ms-flex-flow: row wrap
    flex-flow: row wrap
    .card
      display: -webkit-box
      display: -webkit-flex
      display: -ms-flexbox
      display: flex
      -webkit-box-flex: 1
      -webkit-flex: 1 0 0%
      -ms-flex: 1 0 0%
      flex: 1 0 0%
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -webkit-flex-direction: column
      -ms-flex-direction: column
      flex-direction: column
      &:not(:first-child)
        margin-left: 15px
      &:not(:last-child)
        margin-right: 15px

@media (min-width: 576px)
  .card-group
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-flex-flow: row wrap
    -ms-flex-flow: row wrap
    flex-flow: row wrap
    .card
      -webkit-box-flex: 1
      -webkit-flex: 1 0 0%
      -ms-flex: 1 0 0%
      flex: 1 0 0%
      + .card
        margin-left: 0
        border-left: 0
      &:first-child
        border-bottom-right-radius: 0
        border-top-right-radius: 0
        .card-img-top
          border-top-right-radius: 0
        .card-img-bottom
          border-bottom-right-radius: 0
      &:last-child
        border-bottom-left-radius: 0
        border-top-left-radius: 0
        .card-img-top
          border-top-left-radius: 0
        .card-img-bottom
          border-bottom-left-radius: 0
      &:not(:first-child):not(:last-child)
        border-radius: 0
        .card-img-top, .card-img-bottom
          border-radius: 0

@media (min-width: 576px)
  .card-columns
    -webkit-column-count: 3
    -moz-column-count: 3
    column-count: 3
    -webkit-column-gap: 1.25rem
    -moz-column-gap: 1.25rem
    column-gap: 1.25rem
    .card
      display: inline-block
      width: 100%
      margin-bottom: 0.75rem