{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>מערכת שעות {{ time|slice:":-3" }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Alef" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/handaschedule.css' %}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel-heading text-right">
    <div class="container">
        <div style="display:inline-block">
            <h3 style="display:inline;font-family:'Alef', sans-serif;">
                <a href="{{ link }}" target="_blank">{{ title }}</a>
            </h3>
            <span style="font-weight:normal;color:#a1a4a5">{{ time }}</span>
            <p style="font-weight:normal;color:initial">{{ info }} </p>
        </div>
        <span>
            <a id="test" class="btn btn-default btn-md pull-left disabled" style="cursor:not-allowed">
                <span class="glyphicon glyphicon-triangle-bottom glyphicon-sm"></span>
                מבזקי
                חדשות
            </a>
            <a href="{{ link }}" class="btn btn-success btn-md pull-left" download>הורדה</a>
        </span>
    </div>
</div>
<i id="img-tooltip" data-toggle="tooltip" data-placement="right" title="בקרוב" data-animation="false"
   data-trigger="manual"></i>
<div class="container text-right">
    <div class="table-responsive">
        <table class="table table-hover">
            {% for row in table %}
                <tr>
                    {% if forloop.counter == 1 %}
                        <th></th>
                        {% for item in row %}
                            <th style="min-width:80px" class="text-right">
                                {% if 'nan' not in item %}
                                    {{ item }}
                                {% endif %}
                            </th>
                        {% endfor %}
                    {% else %}
                        <td><b>{{ forloop.counter|add:'-2' }}</b></td>
                        {% for item in row %}
                            <td style="min-width:80px">
                                {% if 'nan' not in item %}
                                    {{ item }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<footer class="container-fluid text-center">
    <a class="github-button" href="https://github.com/yam-b" data-style="mega" data-count-href="/yam-b/followers"
       data-count-api="/users/yam-b#followers" data-count-aria-label="# followers on GitHub"
       aria-label="Follow @yam-b on GitHub">Follow @yam-b</a>
    <p class="not-hebrew">No rights reserved &nbsp;¯\_(ツ)_/¯</p>
</footer>
<script>
    $("#test").on('mousemove', function (e) {
        $("#img-tooltip").css({top: e.pageY, left: e.pageX});
        $('[data-toggle="tooltip"]').tooltip('show')
    });

    $("#test").on('mouseleave', function (e) {
        $('[data-toggle="tooltip"]').tooltip('hide')
    })
</script>
</body>
</html>