{% extends 'Schedule/base.html' %}
{% block content %}
    <div class='text-center'>
        <select class='selectpicker' data-style='btn-default' data-width='auto' data-size='5' style='display:none'>
            {% for item in table.0 %}
                <option>
                    <a href='#'>{{ item }}</a>
                </option>
            {% endfor %}
        </select>
        <div class='card' style='width:20rem' dir='ltr'>
            <ul class='list-group list-group-flush'>
                <li class='list-group-item'>Item #1</li>
                <li class='list-group-item'>Item #2</li>
                <li class='list-group-item'>Item #3</li>
            </ul>
        </div>
    </div>
{% endblock %}