{% extends 'Schedule/base.html' %}
{% block content %}
    <div class='text-center'>
        <select class='selectpicker' data-style='btn-default' data-width='auto' data-size='5' style='display:none'>
            {% for item in table.0 %}
                <option>
                    <a href='#'>{{ item }}</a>
                </option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

<!--
                    {% for news_item in date_grouped_news %}
                        {% if news_item.description %}
                            <li class='submenu'>
                                <a href='{{ news_item.link }}' tabindex='-1'><span
                                        style='color:#aaaaaa'>({{ news_item.date }}) </span>{{ news_item.title }}
                                </a>
                                <ul class='dropdown-menu'>
                                    <li>
                                        <a style='cursor:not-allowed'>{{ news_item.description }}</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href='{{ news_item.link }}' tabindex='-1'><span
                                    style='color:#aaaaaa'>({{ news_item.date }}) </span>{{ news_item.title }}
                            </a></li>
                        {% endif %}
                    {% endfor %}-->